section.container-fluid {
    padding: 0;
}

section {
    margin-bottom: 10px;
}

.list-group-item {
    background-color: #d6417d;
    color: #fff;
}

li a:hover {
    background-color: rgb(103, 101, 93);
}

body {
    background-color: rgba(227, 145, 209, 0.712);
}

#About {
    padding-top: 10px;
    background-image: url('imgs/menu2.png');
    background-size: cover;
}

#About table {
    opacity: 0.8;
}

label {
    font-size: 20px;
}

#ContactUs {
    padding-top: 10px;
    background-image: url('imgs/menu3.png');
    background-size: cover;
}

.scrollTop {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: bold;
    border: 1px solid #fff5;
}

#Item .card {
    border: 2px solid #d6417d;
    text-align: center;
}

#Item .card:hover {
    border: 1px solid;
    box-shadow: 5px 10px #888888;
    transform: scale(1.1);
}

footer a {
    text-decoration: none;
}

.container-fluid.main-header {
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to right top, #000000, #030506, #190b1d58, #200618, #25011054), url('imgs/menu1.png');
}

.center-content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 1rem;
}

.location-section {
    text-align: center;
}

#loc h5,
h3 {
    color: rgb(240, 15, 105);
}